{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<style>
    body {background-color: #9acaec;}
    h1   {color: blue;}
    p    {color: red;}
</style>
<div class="m-auto">
    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="card" style="width: 30rem; height: 48rem">
            <img class="card-img-top" src="https://static.vecteezy.com/system/resources/thumbnails/001/879/530/small_2x/people-approve-new-employee-registration-application-signature-for-a-new-agreement-with-a-good-five-star-rating-illustration-concept-for-landing-page-web-ui-banner-flyer-poster-template-free-vector.jpg" alt="Card image cap">
        <h1 class="text-center" >Register</h1>  
    
            <form method="POST" >  
                {% csrf_token %}  
                <table class="table table-borderless">  
                    {{ form.as_table }}  
                    <tr>  
                        <td></td>
                        <td><input class="btn btn-outline-primary" type="submit" name="submit" value="Daftar"/></td>  
                    </tr>  
                </table>  
            </form>
    
        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    
        </div>  
    </div>
</div>

{% endblock content %}